[defaults]
interpreter_python = /usr/bin/python3.14
allow_world_readable_tmpfiles = True
inventory = inventory

[inventory]
ignore_extensions = .template, .pyc, .pyo, .swp, .bak, .ini, .cfg, .retry

[ssh_connection]
ssh_common_args = -o RequestTTY=no
pipelining = True
