---
# Networking variables
device_hostname: ""
wifi_ssid: ""
homelab_ip: ""

static_ip: ""
gateway_ip: ""

cloudflare_dns_ipv4:
  - 1.0.0.3                                         # Cloudflare for Families: Malware + Adult content
  - 1.1.1.3                                         # Cloudflare for Families: Malware + Adult content
cloudflare_dns_ipv6:
  - 2606:4700:4700::1113                            # Cloudflare for Families: Malware + Adult content
  - 2606:4700:4700::1003                            # Cloudflare for Families: Malware + Adult content
allowed_firewall_ports:
  - 22/tcp                                          # SSH
  - 25565/tcp                                       # Minecraft Java
